<% if @payment_method.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @payment_method.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @payment_method do |pm| %>
  <div>
    <%= pm.label :name %>
    <%= pm.text_field :name %>
  </div>

  <div>
    <%= pm.submit %>
  </div>
<% end %>