<h1>Editar Informações Adicionais</h1>

<% if @additional_information.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @additional_information.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>  
  </ul>
<% end %>

<%= form_with model: @additional_information do |ai| %>
  <div>
    <%= ai.label :description %>
    <%= ai.text_area :description %>
  </div>

  <div>
    <%= ai.label :policies %>
    <%= ai.text_area :policies %>
  </div>

  <div>
    <%= ai.label :check_in %>
    <%= ai.time_field :check_in %>
  </div>

  <div>
    <%= ai.label :check_out %>
    <%= ai.time_field :check_out %>
  </div>

  <div>
    <%= ai.label :pets %>
    <%= ai.check_box :pets %>
  </div>

  <div>
    <%= ai.submit %>
  </div>
<% end %>