<h1>Lista de Pousadas</h1>

<div id="cities">
  <% @cities.each do |city| %>
    <%= link_to city, city_inns_path(city) %> |
  <% end %>
<div>

<div id="recent-inns">
  <h2>Recentes</h2>
  <% @recent_inns.each do |inn| %>
    <dl class="card">
      <dt><strong>Nome:</strong></dd>
      <dd><%= link_to inn.name, inn %></dd>
      <dt><strong>Cidade:</strong></dd>
      <dd><%= inn.address.city %></dd>
      <dt><strong>Nota Média:</strong></dd>
      <dd><%= inn.average_rating ? inn.average_rating : "Sem avaliações" %></dd>
    <dl>
  <% end %>
</div>

<hr>

<div id="inns">
  <% @inns.each do |inn| %>
    <dl>
      <dt><strong>Nome:</strong></dd>
      <dd><%= link_to inn.name, inn %></dd>
      <dt><strong>Cidade:</strong></dd>
      <dd><%= inn.address.city %></dd>
      <dt><strong>Nota Média:</strong></dd>
      <dd><%= inn.average_rating ? inn.average_rating : "Sem avaliações" %></dd>
    <dl>
  <% end %>
</div>