<%= render 'form' %>

<h3>Resultado da busca avançada</h3>

<h3><%= @inns.count %> <%= Inn.model_name.human(count: @inns.count).downcase %> <%= t(:found, count: @inns.count) %></h3>

<div id="inns">
  <% @inns.each do |inn| %>
    <dl>
      <dt><strong>Nome:</strong></dd>
      <dd><%= link_to inn.name, inn %></dd>
      <dt><strong>Cidade:</strong></dd>
      <dd><%= inn.address.city %></dd>
    <dl>
  <% end %>

  <% if @inns.empty? %>
    <p><%= t(:no_results) %></p>
  <% end %>
</div>
