<h1>Busca Avançada</h1>

<div id="advanced_search">
  <%= form_with(url: advanced_search_inns_results_path, method: :get) do |f| %>
    <div>
      <%= f.label :pets, 'Aceita pets' %>
      <%= f.check_box :pets %>
    </div>
    
    <div>
      <%= f.label :bathroom, 'Banheiro' %>
      <%= f.check_box :bathroom %>
    </div>

    <div>
      <%= f.label :balcony, 'Varanda' %>
      <%= f.check_box :balcony %>
    </div>

    <div>
      <%= f.label :air, 'Ar condicionado' %>
      <%= f.check_box :air %>
    </div>

    <div>
      <%= f.label :tv, 'TV' %>
      <%= f.check_box :tv %>
    </div>

    <div>
      <%= f.label :wardrobe, 'Guarda-roupa' %>
      <%= f.check_box :wardrobe %>
    </div>

    <div>
      <%= f.label :safe, 'Cofre' %>
      <%= f.check_box :safe %>
    </div>

    <div>
      <%= f.label :accessible, 'Acessibilidade' %>
      <%= f.check_box :accessible %>
    </div><br >
    
    <div>
      <%= f.submit 'Buscar' %>
    </div>
  <% end %>
</div>