<%= form_with model: @inn do |inn| %>
  <div>
    <%= inn.label :name %>
    <%= inn.text_field :name %>
  </div>

  <div>
    <%= inn.label :social_name %>
    <%= inn.text_field :social_name %>
  </div>

  <div>
    <%= inn.label :cnpj %>
    <%= inn.text_field :cnpj %>
  </div>

  <div>
    <%= inn.label :phone %>
    <%= inn.text_field :phone %>
  </div>

  <div>
    <%= inn.label :email %>
    <%= inn.text_field :email %>
  </div>

  <div>
    <%= fields_for @inn.address do |address| %>
      <div>
        <%= address.label :street %>
        <%= address.text_field :street %>
      </div>

      <div>
        <%= address.label :neighborhood %>
        <%= address.text_field :neighborhood %>
      </div>

      <div>
        <%= address.label :state %>
        <%= address.text_field :state %>
      </div>

      <div>
        <%= address.label :city %>
        <%= address.text_field :city %>
      </div>

      <div>
        <%= address.label :zip_code %>
        <%= address.text_field :zip_code %>
      </div>
    <% end %>
  </div>

  <% if current_user.inn.nil? %>
    <%= fields_for @inn_additional do |pm| %>
      <div>
        <%= pm.label :check_in %>
        <%= pm.time_field :check_in %>
      </div>

      <div>
        <%= pm.label :check_out %>
        <%= pm.time_field :check_out %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= inn.submit %>
  </div>
<% end %>