<h1>Minha Pousada</h1>

<%= link_to 'Editar', edit_inn_path %>

<dl>
  <dt><strong>Nome fantasia: <%= @inn.name %></strong></dt>
  <dd><strong>Razão social:</strong> <%= @inn.social_name %></dd>
  <dd><strong>CNPJ:</strong> <%= @inn.cnpj %></dd>
  <dd><strong>Telefone:</strong> <%= @inn.phone %></dd>
  <dd><strong>E-mail:</strong> <%= @inn.email %></dd>  
</dl>

<dl>
  <dt><strong>Endereço:</strong></dt>
  <dd><strong>Rua:</strong> <%= @inn.address.street %></dd>
  <dd><strong>Bairro:</strong> <%= @inn.address.neighborhood %></dd>
  <dd><strong>Cidade:</strong> <%= @inn.address.city %> - <%= @inn.address.state %></dd>
  <dd><strong>CEP:</strong> <%= @inn.address.zip_code %></dd>
</dl>

<%= link_to 'Editar Informações Adicionais', edit_additional_information_path(@inn.additional_information) %>

<dl>
  <dt><strong>Informações adicionais:</strong></dt>
  <dd><strong>Descrição:</strong> <%= @inn.additional_information.description.nil? ? 'Sem Descrição' : @inn.additional_information.description %></dd>
  <dd><strong>Políticas:</strong> <%= @inn.additional_information.policies.nil? ? 'Sem Políticas' : @inn.additional_information.policies %></dd>
  <dd><strong>Check-in:</strong> <%= @inn.additional_information.check_in.nil? ? 'Sem Horário de Check-in' : @inn.additional_information.check_in.strftime('%H:%M') %></dd>
  <dd><strong>Check-out:</strong> <%= @inn.additional_information.check_out.nil? ? 'Sem Horário de Check-out' : @inn.additional_information.check_out.strftime('%H:%M') %></dd>
  <dd><strong>Aceita Pets:</strong> <%= @inn.additional_information.pets ? 'Sim' : 'Não' %></dd>
</dl>

<dl id="payment_methods">
  <dt><strong>Formas de pagamento:</strong></dt>
  <% if @inn.additional_information.payment_methods.any? %>
    <% @inn.additional_information.payment_methods.each do |payment_method| %>
      <dd><%= payment_method.name %> <%= link_to 'Editar', edit_payment_method_path(payment_method) %></dd>
    <% end %>
  <% else %>
    <dd>Nenhuma forma de pagamento cadastrada</></dd>
  <% end %>
</dl>

<%= link_to 'Adicionar Forma de pagamento', new_payment_method_path %>