
<h1>Minha Pousada</h1>

<dl>
  <dt><strong>Nome fantasia: <%= @inn.name %></strong></dt>
  <dd><strong>Razão social:</strong> <%= @inn.social_name %></dd>
  <dd><strong>CNPJ:</strong> <%= @inn.cnpj %></dd>
  <dd><strong>Telefone:</strong> <%= @inn.phone %></dd>
  <dd><strong>E-mail:</strong> <%= @inn.email %></dd>  
</dl>

<dl>
  <dt><strong>Endereço:</strong></dt>
  <dd><strong>Rua:</strong> <%= @inn.address.street %></dd>
  <dd><strong>Bairro:</strong> <%= @inn.address.neighborhood %></dd>
  <dd><strong>Cidade:</strong> <%= @inn.address.city %> - <%= @inn.address.state %></dd>
  <dd><strong>CEP:</strong> <%= @inn.address.zip_code %></dd>
</dl>

<%= link_to 'Editar', edit_inn_path %>

<dl>
  <dt><strong>Informações adicionais:</strong></dt>
  <dd><strong>Descrição:</strong> <%= @inn.additional_information.description.presence || 'Sem Descrição' %></dd>
  <dd><strong>Políticas:</strong> <%= @inn.additional_information.policies.presence || 'Sem Políticas' %></dd>
  <dd><strong>Check-in:</strong> <%= @inn.additional_information.check_in.strftime('%H:%M') %></dd>
  <dd><strong>Check-out:</strong> <%= @inn.additional_information.check_out.strftime('%H:%M') %></dd>
  <dd><strong>Aceita Pets:</strong> <%= @inn.additional_information.pets ? 'Sim' : 'Não' %></dd>
</dl>

<%= link_to 'Editar Informações Adicionais', edit_additional_information_path(@inn.additional_information) %>

<dl id="payment_methods">
  <dt><strong>Formas de pagamento:</strong></dt>
  <% if @inn.additional_information.payment_methods.any? %>
    <% @inn.additional_information.payment_methods.each do |payment_method| %>
      <dd><%= payment_method.name %> | <%= link_to 'Editar', edit_payment_method_path(payment_method) %><dd>      
    <% end %>
  <% else %>
    <dd>Nenhuma forma de pagamento cadastrada</></dd>
  <% end %>
</dl>

<%= link_to 'Adicionar Forma de pagamento', new_payment_method_path %> <br ><br >

<div>
  <strong>Status:</strong> <%= @inn.active? ? 'Ativa' : 'Inativa' %>
  <%= button_to "#{ @inn.active? ? 'Inativar' : 'Ativar' }", status_inn_path, method: :patch, form: { data: { turbo_confirm: 'Tem certeza?' } } %>
</div>

<dl id="rooms">
  <dt><strong>Quartos:</strong></dt>
  <% if @inn.rooms.any? %>
    <% @inn.rooms.each do |room| %>
      <dd><strong>Nome:</strong> <%= room.name %></dd>
      <dd><strong>Descrição:</strong> <%= room.description %></dd>
      <dd><strong>Dimensão:</strong> <%= room.dimension %> m²</dd>
      <dd><strong>Ocupação máxima:</strong> <%= room.max_occupancy %> pessoas</dd>
      <dd><strong>Valor da diária:</strong> <%= number_to_currency(room.value) %></dd>
      <dd><strong>Banheiro:</strong> <%= room.bathroom ? 'Sim' : 'Não' %></dd>
      <dd><strong>Sacada:</strong> <%= room.balcony ? 'Sim' : 'Não' %></dd>
      <dd><strong>Ar condicionado:</strong> <%= room.air_conditioning ? 'Sim' : 'Não' %></dd>
      <dd><strong>TV:</strong> <%= room.tv ? 'Sim' : 'Não' %></dd>
      <dd><strong>Guarda-roupa:</strong> <%= room.wardrobe ? 'Sim' : 'Não' %></dd>
      <dd><strong>Cofre:</strong> <%= room.safe ? 'Sim' : 'Não' %></dd>
      <dd><strong>Acessibilidade:</strong> <%= room.accessible ? 'Sim' : 'Não' %></dd>
      <dd><strong>Disponível para reserva:</strong> <%= room.status ? 'Sim' : 'Não' %></dd>
      <dd><%= button_to "#{ room.status? ? 'Indisponibilizar' : 'Disponibilizar' }", room_status_path(room), method: :patch, form: { data: { turbo_confirm: 'Tem certeza?' } } %></dd>
      <dd><%= link_to 'Editar', edit_room_path(room) %></dd>
      <br >
    <% end %>
  <% else %>
    <dd>Nenhum quarto cadastrado</></dd>
  <% end %>
</dl>

<%= link_to 'Adicionar quarto', new_room_path %> <br ><br >