
<h1>Detalhes da Pousada</h1>

<dl>
  <dt><strong>Nome: <%= @inn.name %></strong></dt>
  <dd><strong>Telefone:</strong> <%= @inn.phone %></dd>
  <dd><strong>E-mail:</strong> <%= @inn.email %></dd>  
</dl>

<dl>
  <dt><strong>Endereço:</strong></dt>
  <dd><strong>Rua:</strong> <%= @inn.address.street %></dd>
  <dd><strong>Bairro:</strong> <%= @inn.address.neighborhood %></dd>
  <dd><strong>Cidade:</strong> <%= @inn.address.city %> - <%= @inn.address.state %></dd>
  <dd><strong>CEP:</strong> <%= @inn.address.zip_code %></dd>
</dl>

<dl>
  <dt><strong>Informações adicionais:</strong></dt>
  <dd><strong>Descrição:</strong> <%= @inn.inn_additional.description.presence || 'Sem Descrição' %></dd>
  <dd><strong>Políticas:</strong> <%= @inn.inn_additional.policies.presence || 'Sem Políticas' %></dd>
  <dd><strong>Check-in:</strong> <%= @inn.inn_additional.check_in.strftime('%H:%M') %></dd>
  <dd><strong>Check-out:</strong> <%= @inn.inn_additional.check_out.strftime('%H:%M') %></dd>
  <dd><strong>Aceita Pets:</strong> <%= @inn.inn_additional.pets ? 'Sim' : 'Não' %></dd>
</dl>

<dl id="payment_methods">
  <dt><strong>Formas de pagamento:</strong></dt>
  <% if @inn.inn_additional.payment_methods.any? %>
    <% @inn.inn_additional.payment_methods.each do |payment_method| %>
      <dd><%= payment_method.name %><dd>      
    <% end %>
  <% else %>
    <dd>Nenhuma forma de pagamento cadastrada</></dd>
  <% end %>
</dl>

<hr>

<h3>Quartos</h3>

<div>
  <% if @inn.rooms.active.any? %>
    <% @inn.rooms.active.each do |room| %>
      <dl id="room-<%= room.id %>">
        <dt><strong><%= room.name %></strong></dt>
        <dd><%= link_to 'RESERVAR', new_inn_room_reservation_path(@inn, room)%></dd><br >

        <dd><strong>Descrição:</strong> <%= room.description %></dd>
        <dd><strong>Dimensão:</strong> <%= room.dimension %> m²</dd>
        <dd><strong>Ocupação máxima:</strong> <%= room.max_occupancy %> pessoas</dd>
        <dd><strong>Valor da diária:</strong> <%= number_currency(room.value) %></dd><br >

        <dd><strong>Banheiro:</strong> <%= room.bathroom ? 'Sim' : 'Não' %></dd>
        <dd><strong>Sacada:</strong> <%= room.balcony ? 'Sim' : 'Não' %></dd>
        <dd><strong>Ar condicionado:</strong> <%= room.air_conditioning ? 'Sim' : 'Não' %></dd>
        <dd><strong>TV:</strong> <%= room.tv ? 'Sim' : 'Não' %></dd>
        <dd><strong>Guarda-roupa:</strong> <%= room.wardrobe ? 'Sim' : 'Não' %></dd>
        <dd><strong>Cofre:</strong> <%= room.safe ? 'Sim' : 'Não' %></dd>
        <dd><strong>Acessibilidade:</strong> <%= room.accessible ? 'Sim' : 'Não' %></dd><br >
      </dl>
    <% end %>
  <% else %>
    <dt>Nenhum quarto disponível</dt>
  <% end %>
</div>

<h1>Ultimas Avaliações</h1>

<% @reviews.each do |review| %>
  <div id="review-<%= review.id %>">
    <dl>
      <dt>Hóspede:</dt>
      <dd><%= review.reservation.user.name %></dd>
      <dt>Reserva:</dt>
      <dd><%= review.reservation.check_in.strftime('%d/%m/%Y') %> - <%= review.reservation.additionals.datetime_check_out.strftime('%d/%m/%Y') %></dd>
      <dt>Comentário:</dt>
      <dd><%= review.comment %></dd>
      <dt>Nota:</dt>
      <dd><%= review.rating %></dd>
    </dl>

    <% if review.answer.present? %>
      <dl>
        <dt>Resposta:</dt>
        <dd><%= review.answer %></dd>
      </dl>
    <% end %>
  </div>
<% end %>

<% if @reviews.length == 0 %>
  <p>Não há avaliações no momento.</p>
<% else %>
  <%= link_to 'Ver todas as avaliações', inn_reviews_path(@inn) %>
<% end %>