<h1>Preços por período</h1>
<h2><%= @room.name %></h2>

<div>
  <%= link_to 'Cadastrar novo preço', new_price_period_path(@room) %>
</div><br >

<% @room.price_periods.each do |price_period| %>
  <div id="price_period_<%= price_period.id %>">
    <strong>Período:</strong> <%= link_to price_period_display(price_period), edit_price_period_path(@room, price_period) %><br>
    <strong>Valor:</strong> <%= number_to_currency(price_period.value) %><br>
    <%= delete_button(@room, price_period) %><br>
  </div>
<% end %>

<% if @room.price_periods.empty? %>
  <p>Nenhum preço cadastrado.</p>
<% end %>

<div>
  <%= link_to 'Voltar', room_path(@room) %>
</div>