<h3>Reservas</h3>

<% @reservations.each do |reservation| %>
  <dl>
    <dd><%= link_to "Código da reserva: #{reservation.code}", innkeeper_reservation_path(reservation) %></dd>
    <dd><strong>Quarto:</strong> <%= reservation.room.name %></dd>
    <dd><strong>Data de entrada:</strong> <%= I18n.l(reservation.check_in) %></dd>
    <dd><strong>Data de saída:</strong> <%= I18n.l(reservation.check_out) %></dd>
    <dd><strong>Hóspedes:</strong> <%= reservation.guests %></dd>
  </dl>
<% end %>