<h3>Detalhes da reserva: <%= @reservation.code %></h3>

<dl>
  <dd><strong>Quarto:</strong> <%= @reservation.room.name %></dd>
  <dd><strong>Data de entrada:</strong> <%= I18n.l(@reservation.check_in) %></dd>
  <dd><strong>Data de saída:</strong> <%= I18n.l(@reservation.check_out) %></dd>
  <dd><strong>Hóspedes:</strong> <%= @reservation.guests %></dd>
  <dd><strong>Valor total:</strong> <%= number_currency(@reservation.total_value) %></dd>
  <dd><strong>Status:</strong> <%= I18n.t(@reservation.status) %></dd>
  <dd><strong>Nome do hóspede:</strong> <%= @reservation.user.name %></dd>
  <dd><strong>E-mail do hóspede:</strong> <%= @reservation.user.email %></dd>
</dl>

<% if @reservation.pending? %>
  <%= button_to 'Realizar CHECK-IN', active_innkeeper_reservation_path(@reservation), method: :post %>
<% end %>