<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Pousadaria</h1>
      <nav>
        <%= link_to 'Tela inicial', root_path %> |

        <%= form_with(url: search_inns_path, method: :get) do |f| %>
          <%= f.label :query, 'Buscar Pousadas' %>
          <%= f.text_field :query %>
          <%= f.submit 'Buscar' %>
        <% end %>

        <%= link_to 'Busca Avançada', advanced_search_inns_path %> |

        <% unless user_signed_in? %>
          <%= link_to 'Entrar', new_user_session_path %> |
        <% else %>
          <%= current_user.name %>
          <%= current_user.innkeeper? ? '(Proprietário)' : '(Hóspede)' %>
          <% if current_user.innkeeper? && current_user.inn.present? %>
            | <%= link_to 'Minha Pousada', my_inn_path %>
          <% end %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>      
        <% end %>
        <hr>
      </nav>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
